In [5]:
num=int(input("Enter the value of row:"))
c=0
while c<=num:
    print(" "*c,end='')
    print("*"*(num-c))
    c = c +1

Enter the value of row:7
*******
 ******
  *****
   ****
    ***
     **
      *

In [11]:
num=int(input("Enter the value of r"))
c=0
while c<=num:
    print("  *"*num)
    c=c+1

Enter the value of r11
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *
  *  *  *  *  *  *  *  *  *  *  *

In [8]:
def pyramid(rows):
    for i in range(rows):
        print(' '*(rows-i-1)+'* '*(i+1))
    for j in range(rows-1,0,-1):
        print(' '(rows-j)+'* '*(j))

In [1]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+'* '*(i+1))
    for j in range(rows):
        print(''(rows-j)+'* '*(j))

In [12]:
rows=int(input("enter the value of rows"))
for i in range(rows):
    print(' '*(rows-i-1)+'* '*(i+1))
for j in range(rows-1,0,-1):
    print(' '*(rows-j)+'* '*(j))

enter the value of rows7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [16]:
rows=input("enter :")
for i in range(rows):
    print(' '*(rows-i-1)+'* '*(i+1))
for j in range(rows-1,0,-1):
    print(' '*(rows-j)+'* '*(j))

enter :g

TypeError: 'str' object cannot be interpreted as an integer

In [32]:
rows=int(input("enter the value of rows"))
for i in range(rows):
    print('*'*(rows-i)+' -'*(i)+'*'*(rows-i))

enter the value of rows6
************
***** -*****
**** - -****
*** - - -***
** - - - -**
* - - - - -*

In [39]:
rows=int(input("enter the value of rows"))
for j in range(rows-1,0,-1):
    print('-'*(rows-j)+'*-'*(j)+'-'*(rows-j-1))

enter the value of rows7
-*-*-*-*-*-*-
--*-*-*-*-*--
---*-*-*-*---
----*-*-*----
-----*-*-----
------*------

In [41]:
rows=int(input("enter the value of rows"))
for j in range(rows-1,0,-1):
    print('*'*(rows-j)+' -'*(j)+'*'*(rows-j))

enter the value of rows6
* - - - - -*
** - - - -**
*** - - -***
**** - -****
***** -*****

In [47]:
rows=int(input("enter the value of rows"))
for i in range(rows):
    print('*'*(rows-i)+' -'*(i)+'*'*(rows-i))
for j in range(rows-1,-1,-1):
    print('*'*(rows-j)+' -'*(j)+'*'*(rows-j))

enter the value of rows6
************
***** -*****
**** - -****
*** - - -***
** - - - -**
* - - - - -*
* - - - - -*
** - - - -**
*** - - -***
**** - -****
***** -*****
************

In [61]:
rows=int(input("enter the value of rows"))
for i in range(rows):
    print('*'*(rows-i)+'  '*(i)+'*'*(rows-i))
for j in range(rows-1,-1,-1):
    print('*'*(rows-j)+'  '*(j)+'*'*(rows-j))

enter the value of rows15
******************************
**************  **************
*************    *************
************      ************
***********        ***********
**********          **********
*********            *********
********              ********
*******                *******
******                  ******
*****                    *****
****                      ****
***                        ***
**                          **
*                            *
*                            *
**                          **
***                        ***
****                      ****
*****                    *****
******                  ******
*******                *******
********              ********
*********            *********
**********          **********
***********        ***********
************      ************
*************    *************
**************  **************
******************************

In [ ]:
row=int(input("Enter the value of row:"))
for j in range(row,0,-4):
    print("*"*(row-j))

In [176]:
for row in range(9):
    for col in range(9):
        if row==4 or col==8:
            print("*",end=' ')
        else:
            print(end=' ')
    print()

        *
        *
        *
        *
* * * * * * * * *
        *
        *
        *
        *

In [177]:
outer_loop=1
print("outer loop is start:")
while outer_loop<=5:
    inner_loop=1
    print("outer loop value",outer_loop)
    while inner_loop<=5:
        print("inner loop value here:",inner_loop)
        inner_loop += 1
    print("inner loop stop here")
    outer_loop += 1
print("outer_loop end here")

outer loop is start:
outer loop value 1
inner loop value here: 1
inner loop value here: 2
inner loop value here: 3
inner loop value here: 4
inner loop value here: 5
inner loop stop here
outer loop value 2
inner loop value here: 1
inner loop value here: 2
inner loop value here: 3
inner loop value here: 4
inner loop value here: 5
inner loop stop here
outer loop value 3
inner loop value here: 1
inner loop value here: 2
inner loop value here: 3
inner loop value here: 4
inner loop value here: 5
inner loop stop here
outer loop value 4
inner loop value here: 1
inner loop value here: 2
inner loop value here: 3
inner loop value here: 4
inner loop value here: 5
inner loop stop here
outer loop value 5
inner loop value here: 1
inner loop value here: 2
inner loop value here: 3
inner loop value here: 4
inner loop value here: 5
inner loop stop here
outer_loop end here

In [185]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [148]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or (row==0 or row==3) or (row==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [149]:
for row in range(6):
    for col in range(5):
        if (col==0) or (row==0 or row==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*
*
*****

In [193]:
for row in range(6):
    for col in range(7):
        if (col==1 or col==6)or (row==0 or row==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
 *    *
 *    *
 *    *
 *    *
*******

In [205]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 or row==3 or row==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*****

In [208]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 or row==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [5]:
for row in range(7):
    for col in range(6):
        if col==0 or (col==4 and (row!=1 and row!=2)) or ((row==0 or row==6) and (col>0 and col<4)) or (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [11]:
for row in range(5):
    for col in range(5):
        if (col==0 or col==4) or (row==2):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*****
*   *
*   *

In [15]:
for row in range(5):
    for col in range(5):
        if col==2 or (row==0 or row==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
*****

In [18]:
for row in range(5):
    for col in range(6):
        if col==5 or row==4 or (row==3 and col==0):
            print("*",end="")
        else:
            print(end=" ")
    print()

     *
     *
     *
*    *
******

In [31]:
for row in range(5):
    for col in range(6):
        if col==0 or (row==2 and col==1) or (row==1 and col==3) or (row==0 and col==5) or (row==3 and col==3) or (row==4 and col==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
*  *
**
*  *
*    *

In [32]:
for row in range(6):
    for col in range(5):
        if (col==0) or row==5:
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*****

In [40]:
for row in range(6):
    for col in range(9):
        if (col==0 or col==8) or (row==1 and col==2) or (row==2 and col==4) or (row==1 and col==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *

In [55]:
for row in range(8):
    for col in range(9):
        if (col==0 or col==8) or (row==col):
            print("*",end="")
        else:
            print(end=" ")
    print()

*       *
**      *
* *     *
*  *    *
*   *   *
*    *  *
*     * *
*      **

In [57]:
for row in range(6):
    for col in range(8):
        if (col==0 or col==7) or (row==0 or row==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

********
*      *
*      *
*      *
*      *
********

In [61]:
for row in range(8):
    for col in range(6):
        if (col==0) or (row==0 or row==3) or (row==1 and col==5) or (row==2 and col==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

******
*    *
*    *
******
*
*
*
*

In [68]:
for row in range(7):
    for col in range(8):
        if (row==0 or row==5) or (col==0 and row!=6 or col==7 and row!=6) or (col==row):
            print("*",end="")
        else:
            print(end=" ")
    print()

********
**     *
* *    *
*  *   *
*   *  *
********
      *

In [82]:
for row in range(7):
    for col in range(7):
        if (col==0 or col==6 and row<4) or (row==0 or row==3)or (row==4 and col==2) or (row==5 and col==4)or (row==6 and col==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
*     *
*     *
*******
* *
*   *
*     *

In [94]:
for row in range(6):
    for col in range(9):
        if (row==0 and col>3) or (row==5 and col<4) or (col==4) or (row==1 and col==8) or (row==4 and col==0):
            print("*",end="")
        else:
            print(end=" ")
    print()

    *****
    *   *
    *
    *
*   *
*****

In [96]:
for row in range(6):
    for col in range(7):
        if (col==3 or row==0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*******
   *
   *
   *
   *
   *

In [97]:
for row in range(6):
    for col in range(6):
        if (col==0 or col==5) or (row==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
*    *
*    *
*    *
*    *
******

In [114]:
for row in range(6):
    for col in range(10):
        if(row==0 and (col==1 or col==9)) or(row==1 and(col==2 or col==8)) or (row==2 and(col==3 or col==7)) or (row==3 and (col==4 or col==6)) or (row ==4 and col==5):
            print("*",end="")
        else:
            print(end=" ")
    print()

 *       *
  *     *
   *   *
    * *
     *

In [119]:
for row in range(6):
    for col in range(9):
        if (col==0 or col==8)or (row==4 and col==2)or (row==3 and col==4)or (row==4 and col==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*       *
*       *
*       *
*   *   *
* *   * *
*       *

In [126]:
for row in range(7):
    for col in range(7):
        if (row==col)or (row==6 and col==0) or (row==5 and col==1) or (row==4 and col==2)or(row==2 and col==4) or(row==1 and col==5)or (row==0 and col==6):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [142]:
i=0
j=6
for row in range(7):
    for col in range(7):
        if (col==row and col<4) or (col==2 and row==4)or (col==1 and row==5):
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i= i+1
            j= j-1
        else:
            print(end=" ")
    print()

*     *
 *   *
  * *
   *
  *
 *

In [137]:
i=1
j=5
for row in range(7):
    for col in range(7):
        if (row==0 or row==6):
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i = i+1
            j = j-1
        else:
            print(end=" ")
    print()

*******
     *
    *
   *
  *
 *
*******

In [13]:
for row in range(1,6):
    for col in range(1,6):
        if row%2 :
            print("* ",end="")
        elif row%2==0:
            print(' '+"*",end="")
        else:
            print(end=" ")
    print()

* * * * *
 * * * * *
* * * * *
 * * * * *
* * * * *

In [42]:
for j in range(6):
    if(j==3):
        print("*"*6)
    print("*",end="    ")
    print("*")

*    *
*    *
*    *
******
*    *
*    *
*    *

#####

In [52]:
i=int(input("enter the value of i:.."))
for col in range(1,i):
    print("*"*col)

enter the value of i:..7
*
**
***
****
*****
******

In [25]:
i=int(input("enter the value of i:.."))
for col in range(1,i):
    print(' '*(i-col)+f"{col}"*col)

enter the value of i:..5
    1
   22
  333
 4444

In [71]:
i=int(input("enter the value of i:.."))
for col in range(1,i):
    print(f'{col}'*col)

enter the value of i:..6
1
22
333
4444
55555

In [72]:
n=int(input("Enter the value of row:.."))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

Enter the value of row:..6
1
12
123
1234
12345
123456

In [76]:
n=int(input("enter the value of row:.."))
num=1
for row in range(1,n+1):
    for col in range(1,row+1):
        print(num,end="")
        num = num+1
    print()

enter the value of row:..4
1
23
456
78910

In [77]:
n=int(input("Enter the value of row:.."))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

Enter the value of row:..5
1
22
333
4444
55555

In [3]:
names = [ ]
n = int(input("Enter the no. of student..."))
for var in range(1, n+1):
    name= input(f"name[{var}]: ")
    names.append(name)

Enter the no. of student...2
name[1]: manish
name[2]: rahul

In [4]:
names

['manish', 'rahul']

In [6]:
n=int(input("Enter the value of row:.."))
for i in range(1,n+1):
    for j in range(1,i+1):
        if j%2:
            print("1",end="")
        else:
            print("0",end="")
    print()

Enter the value of row:..5
1
10
101
1010
10101

In [43]:
n=int(input("enter the value of row:.."))
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num,end=" ")
        num=num+1
    print()

enter the value of row:..6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [56]:
n=int(input("enter the value of row:.."))
for i in range(5,-1,-1):
    for j in range(i):
        print(i,end="")
        
    print()

enter the value of row:..6
55555
4444
333
22
1

In [109]:
n=int(input("Enter the value of row:.."))
for i in range(n):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

Enter the value of row:..5

1
2 1
3 2 1
4 3 2 1

In [141]:
for row in range(6):
    for col in range(7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or(row+col==8):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ** **
*  *  *
*     *
 *   *
  * *
   *

In [33]:
rows=int(input("enter the value of rows"))
for i in range(rows):
    print(' '*(rows-i-1)+'* '*(i+1))
for j in range(rows-1,0,-1):
    print(' '*(rows-j)+'* '*(j))

enter the value of rows5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [19]:
row=int(input("Enter the num of rows:.."))
for i in range(row+1,-1,-1):
    for j in range(i):
        print("*",end="")
    print()

Enter the num of rows:..7
********
*******
******
*****
****
***
**
*

In [18]:
row=int(input("Enter the num of rows:.."))
for i in range(row+1,-1,-1):
    for j in range(i):
        print(i,end=" ")
    print()

Enter the num of rows:..5
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [29]:
row=int(input("Enter the num of rows:.."))
for i in range(row+1,1,-1):
    for j in range(i):
        print(j,end="")
    print()

Enter the num of rows:..6
0123456
012345
01234
0123
012
01

In [3]:
for i in range(6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

for i in range(6):
    for j in range(i):
        print(" "i,end="")
    print()

In [13]:
rows=int(input("enter the value of row:"))
for i in range(rows):
    print(' '*(rows-i-1)+'* '*(i+1))
print()

enter the value of row:7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [37]:
i=int(input("enter the value of i:.."))
for col in range(1,i):
    print("*"*col)

enter the value of i:..5
*
**
***
****

In [1]:
n =int(input("Enter any number"))
total = 0
while(n>0):
    digit = n%10
    total = digit+total
    n=n//10
print("the sum of digit is:",total)

Enter any number564
the sum of digit is: 15

In [2]:
a = int(input("Enter the value of a:"))
b = int(input("Enter the value of b:"))
total = 0
for i in range(1,b+1):
    total = total+a
print("the multyply of a and b will be:",total)

Enter the value of a:5
Enter the value of b:4
the multyply of a and b will be: 20

In [11]:
num = int(input("Enter any number"))
if num ==1:
    print(f"{num} is not prime number")
for i in range(2,num):
    if num %i ==0:
        print(f"{i} is not prime number")
    else:
        print(f"{i} is prime number")

Enter any number4
4 is prime number

#### num =  int(input("how many numbers:"))
total = 0
for i in range(num):
    number = int(input("Enter number"))
    total += number
print(f"the sum of {num} number is:",total)
avg = total/num
print(f"the average of {num} number is :",avg)

n=input("enter a alphabet")
if n in ('a','e','i','o','u'):
    print("you entered a 'vowel'....")
else:
    print("you entered a 'consonant'.....")

In [4]:
num = int(input("how many numbers:"))
total = 0
for i in range(num):
    number = int(input("Enter number"))
    total += number 
print(f"the sum of {num} number is:",total) 
avg = total/num 
print(f"the average of {num} number is :",avg)

how many numbers:3
Enter number3
Enter number4
Enter number5
the sum of 3 number is: 12
the average of 3 number is : 4.0

In [5]:
n=input("enter a alphabet")
if n in ('a','e','i','o','u'):
    print("you entered a 'vowel'....")
else:
    print("you entered a 'consonant'.....")

enter a alphabetg
you entered a 'consonant'.....

In [20]:
num = int(input("Enter any number:"))
for row in range(num):
    print("*"*num)

Enter any number:5
*****
*****
*****
*****
*****

In [45]:
for row in range(10):
    for col in range(10):
        if (row==0 or row==9) or (col==0 or col==9):
            print("*",end="")
        else:
            print(end=" ")
    print()

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [63]:
for row in range(6):
    for col in range(6):
        if row==col:
            print("\\",end="")
        else:
            print("*",end="")
        
    print()

\*****
*\****
**\***
***\**
****\*
*****\

In [6]:
rows=int(input("enter the value of rows"))
for i in range(rows):
    print(' '*(rows-i-1)+(rows)*(i+1))

enter the value of rows4

TypeError: can only concatenate str (not "int") to str

In [40]:
num=int(input("Enter the num of rows:.."))
for i in range(1,num+1):
    for j in range(1,num-i+1):
        print(end=" ")
    for j in range(i,0,-1):
        print(j,end="")
    for j in range(2,i+1):
        print(j,end="")
    print()

Enter the num of rows:..5
    1
   212
  32123
 4321234
543212345

In [9]:
c = 65
r =1
while c<91:
    print(chr(c)*r)
    r += 1
    c += 1

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG
HHHHHHHH
IIIIIIIII
JJJJJJJJJJ
KKKKKKKKKKK
LLLLLLLLLLLL
MMMMMMMMMMMMM
NNNNNNNNNNNNNN
OOOOOOOOOOOOOOO
PPPPPPPPPPPPPPPP
QQQQQQQQQQQQQQQQQ
RRRRRRRRRRRRRRRRRR
SSSSSSSSSSSSSSSSSSS
TTTTTTTTTTTTTTTTTTTT
UUUUUUUUUUUUUUUUUUUUU
VVVVVVVVVVVVVVVVVVVVVV
WWWWWWWWWWWWWWWWWWWWWWW
XXXXXXXXXXXXXXXXXXXXXXXX
YYYYYYYYYYYYYYYYYYYYYYYYY
ZZZZZZZZZZZZZZZZZZZZZZZZZZ

In [6]:
chr(65)

'A'